.introContainer {
    display: flex;
    justify-content: center;
    background: url(../../Images/zachpose.jpg) center 0/cover no-repeat fixed;
    height: 100vh;
    max-width: 100%;
}

.introRow {
    flex-grow: 1;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}