.projectsContainer {
    background-color: red;
    padding: 6vh 3vh;
}

.carouselItem {
    cursor: pointer;
}

.carouselImage {
    margin-bottom: 10vh;
    width: auto;
    height: 20vh;
}

.projectCard {
    border-color:#000;
    margin-top:1rem;
    background-color: #FF9138;
}

.hidden {
    display:none;
}

.showUp {
    display:block;
    background-color: red;
}

.title {
    cursor: pointer;
}