.iconHTML {
    color: #DD4B25;
}

.iconCSS {
    color: #254BDD;
}

.iconJS {
    color: #EFD81D;
}

.iconREACT {
    color: #5CCEEC;
}

.iconMONGO {
    color: #439743;
}

.iconNODE {
    color: #5E9659;
}

.iconLINKEDIN {
    color: #0A63BC;
}

.iconGITHUB {
    color: #24292F;
}

.iconFA {
    font-size: 4rem;
}

