body {
    background-color: white;
}

.introContainer {
    background-image: url(./Images/newHero.jpg);
    background-size: cover;
    height: 100vh;
}

.aboutContainer {
    padding: 6em 3em;
}

.skillsContainer {
    padding: 6em 3em;
}

.projectsContainer {
    padding: 6em 3em;
}

.footerContainer {
    padding: 6em 3em;
    background-color: #a9a9a9;
}

.carouselItem {
    cursor: pointer;
}

.carouselImage {
    margin-bottom: 5rem;
    width: auto;
    height: 20rem;
}

.projectCard {
    border-color:red;
    margin-top:1rem;
}

.aboutImage {
    width: 15rem;
    height: 15rem;
}

.modalImage {
    width: 25rem;
    height:25rem;
    object-fit: contain;
}

.modalRow {
    text-align: center;
}

.navbar {
    justify-content: center;
    padding: 0;
}

.iconFA {
    font-size: 5rem;
}

.modalTitle {
    justify-content: center;
}


.skillsTitle {
    margin-bottom: 3rem;
}

.skillsFlex {
    display: flex;
}

.skillIcons {
    display: flex;
    justify-content: space-around;
}

.iconHTML {
    color: #DD4B25;
}

.iconCSS {
    color: #254BDD;
}

.iconJS {
    color: #EFD81D;
}

.iconREACT {
    color: #5CCEEC
}

.iconMONGO {
    color: #439743
}

.iconNODE {
    color: #5E9659
}